/* general */

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  min-height: 400px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: white;
}

body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

[hidden] {
  display: none !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

/* header section */

.jumbotron {
  margin: 0px auto;
  padding: 30px 30px;  
}


.navbar-inverse {
  color: ghostwhite;
}

.navbar-inverse .navbar-nav > .active > a {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .open > a {
  color: ghostwhite;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  color: darkorange;
}


header h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}


/* home page */

#homepage div.thumbnail {
  margin-right: 40 px;
  border: 0px none;
  box-shadow: none;
}

#homepage div.thumbnail img { 
  height: 500px;
}

#homepage div.thumbnail div.caption {
  padding-left: 20px;
  padding-bottom: 20px; 
}

#homepage div.thumbnail div.caption a {
  color:  inherit;
  padding-left: 0px;
  font-size: inherit;
}

#homepage div.thumbnail div.caption a:link {
  text-decoration: none;
}

#homepage div.thumbnail div.caption a:visited {
  text-decoration: none;
}

#homepage div.thumbnail div.caption a:hover {
  color: darkorange;
}

#homepage div.thumbnail div.caption a:active {
  color: darkorange;
}


/* clothes page */

.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}

.max-width-200 {
  max-width: 200px; 
}

.add-clothes-button {
  margin-top: 20px;
}

#deleteButton {
  position: relative;
}

#deleteButton i {
  position: absolute;
  top: 7px;
  right: 8px;
}

ul.nav-pills li a {
  text-align: left;
}

#wardrobe {
    overflow-y: scroll;
    height: 800px;
}

#wardrobe ul li img {
  max-height: 400px;
  max-width: 250px;
  margin-bottom: 10 px;
  padding-bottom: 10px;
  border: 0px none;
  box-shadow: none;
}


 /* looks page */ 
/* 
#looksgallery {
    overflow-y: auto;
    height: 1200px;
}*/

#looksgallery img {
    max-height: 400px;
}

#looksgallery div.thumbnail {
    margin-right: 20 px;
    border: 0px none;
    box-shadow: none;
}

#looksgallery div.thumbnail div.caption {
  padding-bottom: 10px;  
  padding-left: 20px;
}


 /* createlook page */ 

#gallery-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 700px;
  max-width: 300px;
}

#gallery-container p {
  padding: 10px;
}

#gallery-container img {
max-height: 300px;
max-width: 250px;
}


#lookConstructorRight {
  padding-left: 0px;
  padding-right: 0px;
}

#lookConstructorLeft {
  padding-left: 0px;
  padding-right: 0px;
}

#box1 {
    height: 850px;
    text-align: center;
}

#box1 p {
  padding: 20px;
}

#canvas-wrap {
  position: relative; 
  width: 800px; 
  height: 600px;
}

#canvas-wrap canvas {
   position: absolute; 
   top: 0; 
   left: 0; 
   z-index: 0
}

div.save-to-gallery > div {
    padding-bottom: 20px;
}

[ng-drag].drag-over {
    border:solid 1px lightblue;
}

[ng-drag].dragging {
    opacity: 0;
}

[ng-drop] {
    background: transparent;
   /* border: solid 1px lightgray; */
    text-align: center;
    width: 300px;  
    height: auto;
    min-height: 600px; 
  /*  overflow-y: hidden; 
    overflow-x: hidden; */
}

[ng-drop].drag-enter {
    border:solid 2px lightblue;
}


/* footer */

/* additional social buttons style */

.btn-youtube {
  color:#fff;
  background-color:#DC2725;
  border-color:rgba(0,0,0,0.2);
}
.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube {
  color:#fff;
  background-color:#B21E1C;
  border-color:rgba(0,0,0,0.2);
}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube {
  background-image:none;
}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active {
  background-color:#DC2725;
  border-color:rgba(0,0,0,0.2);
}
.btn-youtube .badge { color:#DC2725;
  background-color:#fff
}
.btn-pinterest {
    color: white;
    background-color: #CB2027
}


/* Custom settings for xs screen size */

@media screen and (max-width: 767px) {

  #homepage div.thumbnail img { 
    height: 300px;
  }

  #homepage div.thumbnail div.caption {
    padding-left: 10px;
    padding-bottom: 0px; 
  }

  #homepage div.thumbnail div.caption h3 {
    margin-top: 10px;
  }
} 

@media screen and (min-width: 768px) and (max-width: 991px) {
  
    #homepage div.thumbnail img { 
      height: 400px;
    }
  
    #homepage div.thumbnail div.caption {
      padding-left: 10px;
      padding-bottom: 0px; 
    }
  
    #homepage div.thumbnail div.caption h3 {
      margin-top: 10px;
      white-space: normal;
    }
  } 