.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: white;
}

.jumbotron {
  margin: 0px auto;
  padding: 30px 30px;  
}

.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}


.navbar-inverse {
  color: ghostwhite;
}


.navbar-inverse .navbar-nav > .active > a {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .open > a {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  color: darkorange;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  color: darkorange;
}

/*
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
*/ 


[hidden] {
  display: none !important;
}


/* for userpic centering and cropping */
.userpic {
  width: 150px;
  height: 150px;
}

.object-fit_cover {
  object-fit: cover
}
/* --- */


address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}

/* additional social buttons style */

.btn-youtube{color:#fff;background-color:#DC2725;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{color:#fff;background-color:#B21E1C;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#DC2725;border-color:rgba(0,0,0,0.2)}
.btn-youtube .badge{color:#DC2725;background-color:#fff}

.btn-pinterest {
    color: white;
    background-color: #CB2027
}

btn-circle {
    border-radius: 10px;
}



#wardrobe {
    overflow-y: scroll;
    height: 800px;
}


#looksgallery {
    overflow-y: scroll;
    height: 1200px;
}


/* --- for draggable objects and dropzones --- */

#gallery-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 700px;
    max-width: 300px;
}

/*
#lookConstructorLeft {
    border-top: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    border-left: solid 1px lightgray; 
}

#lookConstructorRight {
    border-top: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    border-right: solid 1px lightgray; 
} */


[ng-drag].drag-over {
    border:solid 1px lightblue;
}

[ng-drag].dragging {
    opacity: 0;
}

[ng-drop] {
    background: transparent;
   /* border: solid 1px lightgray; */
    text-align: center;
    width: 300px;  
    height: auto;
    min-height: 600px; 
  /*  overflow-y: hidden; 
    overflow-x: hidden; */
}

[ng-drop].drag-enter {
    border:solid 2px lightblue;
}


#canvas-wrap { position:relative; width:800px; height:600px }
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }





