<footer class="row-footer">
    <div class="container">
        
        <div class="row">               
            <div class="col-xs-12 col-sm-4">       
                <div class="social nav navbar-nav padding-top-40">
                    <a href="https://www.facebook.com/"><i class="fa fa-lg fa-facebook"></i></a>
                    <a href="http://twitter.com/"><i class="fa fa-lg fa-twitter"></i></a>
                    <a href="https://pinterest.com"><i class="fa fa-lg fa-pinterest"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-lg fa-instagram"></i></a>
                    <a href="http://youtube.com/"><i class="fa fa-lg fa-youtube-play"></i></a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <p align=center class="text-muted padding-top-40">
                    © 2017 Your Style</p>  
            </div>
        </div>
    </div>
</footer>
      

