<div class="container" id="homepage"> 
    <div class="row row-content"> 
             
        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.clothes" class="btn btn-link padding-top-20" role="button">
                <img class="img-responsive" src="./images/wardrobe.jpg" alt="photo"></a> 
            <div class="caption">
                <h3>Manage your wardrobe</h3>
            </div> 
            <a ui-sref="app.clothes" class="btn btn-link padding-top-20" role="button">
                Go to wardrobe</a>  
        </div>

        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.looks" class="btn btn-link padding-top-20" role="button">
                <img class="img-responsive" src="./images/featuredlook.jpg" alt="photo"></a>
            <div class="caption">
                <h3>Browse user looks</h3>
            </div> 
            <a ui-sref="app.looks" class="btn btn-link padding-top-20" role="button">
                View look gallery</a>
        </div>    

        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.createlook" class="btn btn-link padding-top-20" role="button">
                <img class="img-responsive" src="./images/looks.jpg" alt="photo"></a> 
            <div class="caption">
                <h3>Create your own looks</h3>
            </div> 
            <a ui-sref="app.createlook" class="btn btn-link padding-top-20" role="button">
                Create look</a> 
        </div>    
    </div>
</div>
