
<div class="container"> 
    <div class="row row-content"> 
             
        <div class=" col-xs-12 col-sm-4 thumbnail" style="margin-right: 40 px; border: 0px none; box-shadow: none;">
            <a style="padding-top: 20px;" ui-sref="app.clothes" class="btn btn-link" role="button">
                <img class="img-responsive" style="height: 500px;" src="./images/wardrobe.jpg" alt="photo"></a> 
            <div class="caption" style="padding-left: 20px; padding-bottom: 20px;">
                <h3>Manage your wardrobe</h3>
            </div> 
            <a style="padding-top: 20px;" ui-sref="app.clothes" class="btn btn-link" role="button">Go to wardrobe</a>  
        </div>

        <div class=" col-xs-12 col-sm-4 thumbnail" style="margin-right: 40 px; border: 0px none; box-shadow: none;">
            <a style="padding-top: 20px;" ui-sref="app.looks" class="btn btn-link" role="button">
                <img class="img-responsive" style="height: 500px;" src="./images/featuredlook.jpg" alt="photo"></a>
            <div class="caption" style="padding-left: 20px; padding-bottom: 20px;">
                <h3>Browse user looks</h3>
            </div> 
            <a style="padding-top: 20px;" ui-sref="app.looks" class="btn btn-link" role="button">View look gallery</a>
        </div>    

        <div class=" col-xs-12 col-sm-4 thumbnail" style="margin-right: 40 px; border: 0px none; box-shadow: none;">
            <a style="padding-top: 20px;" ui-sref="app.createlook" class="btn btn-link" role="button">
                <img class="img-responsive" style="height: 500px" src="./images/looks.jpg" alt="photo"></a> 
            <div class="caption" style="padding-left: 20px; padding-bottom: 20px;">
                <h3>Create your own looks</h3>
            </div> 
            <a style="padding-top: 20px;" ui-sref="app.createlook" class="btn btn-link" role="button">Create look</a> 
        </div>    
    </div>
</div>
