<div class="container" id="homepage"> 
    <div class="row row-content"> 
             
        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.clothes" class="btn btn-link padding-top-20 hidden-xs" role="button">
                <img class="img-responsive" src="./images/wardrobe.jpg" alt="photo"></a>
            <a ui-sref="app.clothes" class="btn btn-link padding-top-20 hidden-sm hidden-md hidden-lg" role="button">
                <img class="img-responsive" src="./images/wardrobe_sm.jpg" alt="photo"></a> 
            <div class="caption">
                <a ui-sref="app.clothes" class="btn btn-link" role="button">
                    <h3>Manage your wardrobe</h3></a>                  
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.looks" class="btn btn-link padding-top-20 hidden-xs" role="button">
                <img class="img-responsive" src="./images/featuredlook.jpg" alt="photo"></a>
            <a ui-sref="app.looks" class="btn btn-link padding-top-20 hidden-sm hidden-md hidden-lg" role="button">
                <img class="img-responsive" src="./images/featuredlook_sm.jpg" alt="photo"></a>
            <div class="caption">
                <a ui-sref="app.looks" class="btn btn-link" role="button">
                    <h3>Browse user looks</h3></a>
            </div> 
        </div>    

        <div class="col-xs-12 col-sm-4 thumbnail">
            <a ui-sref="app.createlook" class="btn btn-link padding-top-20 hidden-xs" role="button">
                <img class="img-responsive" src="./images/looks.jpg" alt="photo"></a>
            <a ui-sref="app.createlook" class="btn btn-link padding-top-20 hidden-sm hidden-md hidden-lg" role="button">
                <img class="img-responsive" src="./images/looks_sm.jpg" alt="photo"></a> 
            <div class="caption">
                <a ui-sref="app.createlook" class="btn btn-link" role="button">
                    <h3>Create your own looks</h3></a> 
            </div>
        </div>
    </div>
</div>
