
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Looks</li>
            </ul>
        </div>
    </div>
    
    <div class="row row-content" ng-if="!showLooks">
        <div class="col-xs-12">
            <h3>Connecting to server...</h3>
        </div>
    </div>
    
    <div class="row row-content" ng-if="showLooks"> 
        <div class="col-xs-12 col-sm-10">
            <h3>Looks gallery</h3>
        </div>
        
        <div class="col-xs-12 col-sm-2"> 
            <a ui-sref="app.createlook" class="btn btn-md btn-success margin-top-20" role="button">
            <i class="fa fa-lg fa-plus-circle" aria-hidden="true"></i>&nbsp; Add new look</a>
        </div>
        <div class="col-xs-12"><hr></div>
        
        <div class="col-xs-12" id="looksgallery">
            <ul class="media-list">

                <li class="media col-xs-12 col-sm-4" ng-repeat="look in looks">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{look.name}}
                                <button ng-click="deleteLook(look._id)" class="btn btn-link pull-right" role="button">
                                Delete</button>
                            </h3>
                        </div> 
                        <img class="img-responsive" ng-src={{look.image}} alt="{{look.name}}">  
                        <div class="caption">
                            <p>{{look.description}}</p>         
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
            



